:root {
  --gray-color: #e5e7eb;
  --olivedrab: hsl(80, 60%, 35%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Norse-Bold";
  src: url("font/Norse-Bold.otf");
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

.container {
  background-image: url(img/mountains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sign-up {
  background-color: #fff;
  flex-direction: column;
  height: 100vh;
}

.logo {
  display: flex;
}

.author {
  align-self: flex-end;
  font-size: 0.8rem;
  color: #fff;
}

form > .account,
.introduction,
.form-container {
  padding: 0 40px;
}

.form-container {
  border-top: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
  padding: 30px 40px;
}

form > .account {
  padding: 30px 40px;
}

form {
  flex: 2;
  margin-bottom: 4rem;
}

.introduction {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 40px;
}

.introduction p {
  font-size: 1.3rem;
  margin-top: 30px;
  font-weight: 300;
}

.btn {
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  background-color: var(--olivedrab);
  border: none;
  border-radius: 3px;
  padding: 0.8rem 2rem;
  margin-bottom: 2rem;
}

.btn:hover {
  background-color: hsl(80, 60%, 25%);
  cursor: pointer;
}

.account a:link,
.account a:visited {
  color: var(--olivedrab);
  text-decoration: none;
}

.account a:hover,
.account a:active {
  color: hsl(80, 60%, 25%);
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  padding: 25px 40px;
  box-shadow: 0 2px 0 0 var(--gray-color);
}

.form-container h2 {
  margin-bottom: 25px;
}

.form-row {
  gap: 2rem;
  width: 100%;
}

.form-box {
  display: flex;
  flex: 1;
}

.form-row label {
  width: 100%;

  display: inline-block;
  margin-bottom: 0.2rem;

  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: 0.7rem;
}

.form-row input[type="text"]:focus,
.form-row input[type="password"]:focus,
.form-row input[type="email"]:focus {
  border-color: blue;
}

.form-row input[type="text"]:valid,
.form-row input[type="password"]:valid,
.form-row input[type="email"]:valid {
  border-color: green;
}

.form-row input[type="text"]:invalid,
.form-row input[type="password"]:invalid,
.form-row input[type="email"]:invalid {
  border: 1px solid #d55c5f;
  color: #d55c5f;
  box-shadow: none;
}

.form-row input[type="text"],
.form-row input[type="password"],
.form-row input[type="email"] {
  background-color: #ffffff;
  border: 1px solid var(--gray-color);
  border-radius: 3px;
  height: 1.6rem;
  width: 75%;
  padding: 0.4rem;
}

@media only screen and (max-width: 600px) {
  .sign-up {
    width: 100%;
  }

  .form-box {
    flex-direction: column;
  }

  .logo {
    width: 0;
  }

  .author {
    width: 0;
  }

  .form-row label {
    display: inline-block;
    margin: 0.2rem 0;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .sign-up {
    width: 60%;
  }

  .form-box {
    display: block;
  }

  .form-box label {
    display: inline-block;
    margin: 0.2rem 0;
  }

  .logo {
    display: flex;
    align-items: center;
    height: 8rem;
    background: rgba(255, 255, 255, 0.6);
    width: 40%;
    margin-top: 9.1rem;
  }

  .logo img {
    height: 7.5rem;
  }

  .logo h1 {
    font-family: "Norse-Bold", sans-serif;
    color: rgb(124, 105, 90);
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 1201px) {
  body {
    background-color: #000;
  }

  .container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }

  .form-row {
    display: flex;
  }

  .sign-up {
    width: 60%;
  }

  .form-box {
    flex-direction: column;
  }

  .logo {
    display: flex;
    align-items: center;
    height: 9rem;
    background: rgba(255, 255, 255, 0.6);
    width: 40%;
    margin-top: 9.1rem;
  }

  .logo img {
    height: 7.5rem;
  }

  .logo h1 {
    font-family: "Norse-Bold", sans-serif;
    color: hsl(26.47, 16%, 42%);
    font-size: 4.5rem;
  }
}
